<footer class="footer page__footer">
	<div class="footer__inner layout__wrap">
		<div class="footer__row">
			<div class="footer__logo">
				{% include "blocks/logo/logo.njk" %}
			</div>
			<div class="footer__number">+38 094 000 00 10</div>

			<div class="footer__social">
				{% include "blocks/social/social-list.njk" %}
			</div>
		</div>
		<div class="footer__row"></div>
	</div>
</footer>