<div class="faq">
	<div class="faq__inner">
		{% for item in faq.faq_list %}
			<div class="faq__item">
				<div class="faq__item-title">{{item.title}}</div>
				<div class="faq__item-text">{{item.text}}</div>
			</div>
		{% endfor %}

	</div>
</div>