.link {
	display: inline;
	text-decoration: none;
	@include ts(color);
	&:hover {
		/*color: $color_base;*/
		cursor: pointer;
	}

	&_active {
		color: $color_pink;
		border-bottom: 2px solid $color_pink;
	}
}
