<div class="reviews-item {{inject.parentClass}}">
	<div class="reviews-item__inner">

		<div class="reviews-item__title">{{item.title}}</div>
		<div class="reviews-item__text">{{item.text}}</div>
	</div>
</div>