<div class="callback">
	<div class="callback__inner">
		<form class="callback__form form">
			<div class="form__inner">

				<div class="form__block-half">
					<div class="form__input form__input_half">
						<div class="input input_size_l input_with_name input_width_available">
							<div class="input__box">
								<input
									type="text"
									class="input__control"
									phone="last"
								>
								<div class="input__name">Имя<span class="deco deco_star">*</span></div>
							</div>
						</div>
					</div>

					<div class="form__input form__input_half">
						<div class="input input_size_l input_with_name input_width_available">
							<div class="input__box">
								<input
									type="text"
									class="input__control"
									phone="lastname"
								>
								<div class="input__name">Фамилия<span class="deco deco_star">*</span></div>
							</div>
						</div>
					</div>
				</div>

				<div class="form__block">
					<div class="form__input">
						<div class="input input_size_l input_with_name input_width_available">
							<div class="input__box">
								<input
									type="text"
									class="input__control"
									name="phone"
								>
								<div class="input__name">Телефон<span class="deco deco_star">*</span></div>
							</div>
						</div>
					</div>

					<div class="form__input">
						<div class="input input_size_l input_with_name input_width_available">
							<div class="input__box">
								<input
									type="text"
									class="input__control"
									name="email"
								>
								<div class="input__name">Email<span class="deco deco_star">*</span></div>
							</div>
						</div>
					</div>
				</div>

				<div class="form__checkbox">
					<label class="label checkbox checkbox_size_m">
						<span class="checkbox__box">
							<input
								class="checkbox__control"
								type="checkbox"
							/>
						</span>
						<span class="checkbox__text">Пользовательское соглашение</span>
					</label>
				</div>
				<div class="form__submit">
					<button class="button button_size_s">
						<div class="button__text">Записаться на приём</div>

					</button>
				</div>


			</div>
	</div>
	</form>

</div>

</div>