<div class="callback">
	<div class="callback__inner">
		<form class="callback__form form">
			<div class="form__inner">
				<div class="form__row">

					<div class="form__input">
						<div class="input input_size_l input_with_name">
							<div class="input__box">
								<input
									type="text"
									class="input__control"
								>
								<div class="input__name">Имя<span class="deco deco_star">*</span></div>
							</div>
						</div>
					</div>

					<div class="form__input">
						<div class="input input_size_l input_with_name">
							<div class="input__box">
								<input
									type="text"
									class="input__control"
								>
								<div class="input__name">Фамилия<span class="deco deco_star">*</span></div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</form>

	</div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>