{% extends "layouts/layout.njk" %}

{% block main %}

	{% include "blocks/header/header.njk" %}

	{# ===================================== #}

	{% set inject = {
		title: "Что мы делаем?",
		pageSectionClass: "page__banner"

	} %}
	{% include "blocks/sections/banner-section.njk" %}

	{# ===================================== #}

	{% set inject = {
		title: "Что мы делаем??",
		pageSectionClass: "page__work-list"
	} %}
	{% include "blocks/sections/work-list-section.njk" %}

	{# ===================================== #}
	{% set inject = {
		title: "Наши преимущества",
		pageSectionClass: "page__work-list"
	} %}
	{% include "blocks/sections/benefits-section.njk" %}

	{# ===================================== #}

	{% set inject = {
		title: "Подарочные сертификаты?",
		pageSectionClass: "page__present"
	} %}
	{% include "blocks/sections/present-section.njk" %}

	{# ===================================== #}

	{% set inject = {
		title: "Отзывы",
		pageSectionClass: "page__reviews"
	} %}
	{% include "blocks/sections/reviews-section.njk" %}

	{# ===================================== #}

	{% set inject = {
		title: "FAQ",
		pageSectionClass: "page__faq"
	} %}
	{% include "blocks/sections/faq-section.njk" %}

	{# ===================================== #}

	{% set inject = {} %}

	{% include "blocks/footer/footer.njk" %}

{% endblock %}