{% extends "layouts/layout.njk" %}

{% block main %}

	{% include "blocks/header/header.njk" %}
	{#{% include "blocks/banner/banner.njk" %}#}
	{% set inject = {
		pageSectionClass: "page__banner"
	} %}
	{% include "blocks/sections/banner.njk" %}
	{% set inject = {
		title: "Что мы делаем?",
		pageSectionClass: "page__banner"

	} %}
	{% set inject = {
		title: "Подарочные сертификаты?",
		pageSectionClass: "page__work-list"
	} %}
	{% include "blocks/sections/work-list.njk" %}

	{% set inject = {
		title: "Подарочные сертификаты?",
		pageSectionClass: "page__present"
	} %}
	{% include "blocks/sections/present.njk" %}

	{% set inject = {} %}

	{% include "blocks/footer/footer.njk" %}

{% endblock %}