{% extends "layouts/layout.njk" %}

{% block main %}

	{% include "blocks/header/header.njk" %}

	{# ===================================== #}

	{% set inject = {
		title: "Наша команда",
		pageSectionClass: "page__work-list"
	} %}
	{% include "blocks/sections/team-section.njk" %}

	{# ===================================== #}

	{% set inject = {
		title: "Отзывы",
		pageSectionClass: "page__reviews"
	} %}
	{% include "blocks/sections/reviews-section.njk" %}

	{# ===================================== #}

	{% set inject = {
		title: "Записаться на приём",
		pageSectionClass: "page__callback"
	} %}
	{% include "blocks/sections/callback-section.njk" %}

	{# ===================================== #}

	{% set inject = {} %}

	{% include "blocks/footer/footer.njk" %}

{% endblock %}