<div class="contact-data {{inject.parentClass}}">
	<div class="contact-data__inner">

		<div class="contact-data__box">
			<div class="contact-data__title">Адрес:</div>
			<div class="contact-data__line">Кловский спуск, 6, Київ, 01021</div>
		</div>
		<div class="contact-data__box">
			<div class="contact-data__title">Время работы:</div>
			<div class="contact-data__line">Пн - Пт: с 9 до 19:00</div>
			<div class="contact-data__line">Суббота: с 9 до 14:00</div>
			<div class="contact-data__line">Воскресенье: выходной</div>
		</div>
		<div class="contact-data__box">
			<div class="contact-data__title">Электронная почта:</div>
			<a
				href="mailto:io.clinic@gmail.comio.clinic@gmail.com"
				class="contact-data__line contact-data__mail link"
			>io.clinic@gmail.com</a>
		</div>
	</div>
</div>