<div class="contact">
	<div class="contact__inner">

		{% set inject = {
			parentClass: "contact__data"
		} %}
		{% include "blocks/contact/contact-data.njk" %}

		{% set inject = {
			parentClass: "contact__map"
		} %}
		{% include "blocks/map/map.njk" %}
	</div>

</div>