<div class="work-list slider">
	<div
		class="work-list__inner swiper"
		data-option="optionCommon"
	>
		<div class="swiper-wrapper">
			{% for item in work.work_list %}
			<div class="work-list__item work-item swiper-slide">
				<div class="work-item__inner">
					<div class="work-item__imgbox">
						<img
							src="./img/content/{{item.img}}.jpg"
							alt="{{item.name}}"
							class="work-item__img img"
						>
					</div>

					<div class="work-item__title">{{item.title}}</div>
				</div>
			</div>
			{% endfor %}

		</div>

	</div>
	<div class="swiper-pagination slider__pagination"></div>
	<div class="swiper-button-prev slider__nav slider__nav_prev"></div>
	<div class="swiper-button-next slider__nav slider__nav_next"></div>

</div>