<div class="programs__item program-item">
	<div class="program-item__inner">
		<div class="program-item__imgbox">
			<img src="./img/program/{{program.img}}.jpg" alt="" class="program-item__img img">
		</div>
		<div class="program-item__info">
			<div class="program-item__title">{{program.name}}</div>
			<div class="program-item__list">
				{% for item in program.list %}
					<li class="program-item__item">{{item}}</li>
				{% endfor %}
			</div>
			<div class="program-item__button">
				<a href="#toForm" class="button button_size_s">
					<div class="button__text">Записаться</div>
				</a>
			</div>
		</div>
	</div>
</div>