<header class="header page__header">
	<div class="header__line">
		<div class="header__inner layout__wrap">

			{% set inject = {
			parentClass: 'header__logo'


			}%}
			{% include "blocks/logo/logo.njk" %}
			<div class="header__button">
				<a href="#toForm" class="button button_size_s">
					<div class="button__text">Записаться</div>
				</a>
			</div>

			{% set inject = {
			parentClass: 'header__menu',
			menuBrakePoint: '994',
			iconSandwichClass: 'icon icon_burger',
			listData: menu.menu_info,
			menuItemTpl: 'menu-m-item'
			}%}
			{% include "blocks/menu/menu-m.njk" %}

			{% set inject = {
			parentClass: 'header__social'
			}%}
			{% include "blocks/social/social-list.njk" %}

		</div>
	</div>

</header>