<div class="social {{inject.parentClass}}">
	<div class="social__inner">
		{% asyncEach item in social.social_list %}
		<a href="{{item.link}}" class="social__item">
			<span class="icon icon_{{item.name}} "></span>
		</a>

		{% endeach %}
	</div>
</div>