.contact {
	&__inner {
		display: flex;
		flex-direction: column;
		@include bp994-block() {
			flex-direction: row;
		}
	}

	&__data {
		position: relative;
		text-align: center;
		display: flex;
		justify-content: center;
		@include bp994-block() {
			width: 50%;
			order: 1;
			padding-left: 100px;
			text-align: left;
			justify-content: flex-start;
			align-items: center;
			&:after {
				position: absolute;
				content: "";
				background: url("../img/deco/deco_flower.png") no-repeat;
				width: 234px;
				height: 245px;
				right: 15%;
				bottom: 0;
			}
		}
	}

	/*&__box {
		margin-bottom: 35px;
	}

	&__title {
		font-size: 14px;
		line-height: 18px;
		font-weight: 500;
		margin-bottom: 15px;
		@include bp994-block() {
			font-size: 16px;
		}
	}

	&__line {
		font-size: 10px;
		line-height: 15px;
		font-weight: 300;
		@include bp994-block() {
			font-size: 16px;
			line-height: 22px;
		}
	}

	&__mail {
		color: $color_pink;
	}*/

	&__map {
		@include bp994-block() {
			order: 0;
			width: 50%;
		}
		height: 450px;
		@include bp994-block() {
			height: 100%;
		}
	}
}
