.faq {
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__item {
		width: 100%;
		@extend %shadow;
		padding: 15px;
		margin-bottom: 30px;

		@include bp994-block() {
			max-width: 800px;
			padding: 30px;
		}
	}

	&__item-title {
		font-weight: 500;
		font-size: 16px;
	}

	&__item-text {
		font-weight: 300;
		font-size: 14px;
		line-height: 18px;
	}
}
