/*.slider-center {
	width: 400px;
	height: 400px;

	&__img {
		object-fit: none;
	}
}*/

.slider {
	position: relative;
	& .swiper-button-prev {
		left: -40px;
		color: $color_pink;
	}
	& .swiper-button-next {
		right: -40px;
		color: $color_pink;
	}
	&__nav {
		display: none;
		@include bp1280-block() {
			display: block;
		}
		&-a {
			display: block;
		}
	}
	& .swiper-pagination {
		bottom: -50px;
	}

	& .swiper-pagination-bullet-active {
		background: $color_pink;
	}
	& .swiper-slide {
		height: 100%;
	}
}
/*swiper-slide-prev
swiper-slide-active
swiper-slide-next*/

/*.slider-main {
	& .swiper-slide {
		height: 100%;
		border-radius: 50%;
		overflow: hidden;
	}
	& .swiper-slide-active {
		width: 400px;
		height: 400px;
	}

	& .swiper-slide-prev {
		width: 100px;
		height: 100px;
	}
	& .swiper-slide-next {
		width: 100px;
		height: 100px;
	}
}
*/
