.worklist {
	/*height: 1200px;*/
	margin-top: 80px;
	&__inner {
		/*display: flex;*/
		/*height: 1600px;*/
		height: 480px;
		@include bp768-block() {
			height: 640px;
		}
		@include bp1280-block() {
			height: 900px;
		}
	}

	&__item {
		@include bp480-block() {
			height: calc((100% - 30px) / 2);
			width: calc((100% - 30px) / 2);
		}
	}
}
