.header {
	&__line {
		border-bottom: 1px solid $color_pink_light;
		padding: 15px 0;
	}

	&__inner {
		display: flex;
		align-items: center;
	}

	&__menu {
		max-width: 25px;
		@include bp994-block() {
			flex-grow: 1;
			max-width: 100%;
			order: 1;
		}
	}

	&__social {
		display: none;
		@include bp994-block() {
			display: flex;
			min-width: 170px;
			justify-content: center;
			order: 2;
		}
	}
	&__button {
		/*display: none;*/
		flex-grow: 1;
		display: flex;
		justify-content: center;
		@include bp480-block() {
			flex-grow: 0;
			margin-right: 15px;
			margin-left: auto;
		}
		@include bp994-block() {
			min-width: 170px;
			flex-direction: row-reverse;
			order: 3;
		}
	}
}
