.layout {
	&__inner {
		position: relative;
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}
	&__wrap {
		@include wrapper();
	}
	&__row {
		max-width: 1440px;
		padding-left: 15px;
		padding-right: 15px;
		margin: auto;
	}
	&__flat {
		max-width: 1440px;
		margin: auto;
	}
}
