.page {
	&_theme {
		font: 14px / 2.14 "CeraPro", sans-serif;
		color: $color_gray_dark;
		background: $color_gray_light;
	}
	&__section {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	&__footer {
		//background-color: $color_pale;
	}
}
