.page {
	&_theme {
		font: 14px / 2.14 "CeraPro", sans-serif;
		color: $color_gray_dark;
		background: $color_gray_light;
		display: flex;
		flex-direction: column;
	}
	&__section {
		padding-top: 30px;
		padding-bottom: 30px;
		margin-bottom: 40px;
		@include bp994-block() {
			margin-bottom: 100px;
		}
	}
	&__row {
		margin-bottom: 30px;
		@include bp994-block() {
			margin-bottom: 100px;
		}
	}

	&__header {
		top: 0;
		width: 100%;
		position: fixed;
		z-index: 300;
		background-color: $color_light;
	}

	&__thank {
		flex-grow: 1;
	}

	&__fix-off {
		/*	margin-top: 100px;*/
	}
	/*&__banner {
		@include bp994-block() {
			position: relative;

			&::before {
				position: absolute;
				content: "";
				left: 0;
				top: 70px;
				width: 180px;
				height: 180px;
				background: url("../img/deco/deco_circle_l.svg") no-repeat;
			}
			&::after {
				position: absolute;
				content: "";
				right: 0;
				top: 50px;
				width: 143px;
				height: 234px;
				background: url("../img/deco/deco_circle_r.svg") no-repeat;
			}
		}
	}*/

	&__benefits {
		@include bp994-block() {
			position: relative;

			&::before {
				position: absolute;
				content: "";
				left: 0;
				bottom: 70px;
				width: 180px;
				height: 180px;
				background: url("../img/deco/deco_circle_l.svg") no-repeat;
			}
			&::after {
				position: absolute;
				content: "";
				right: 0;
				top: -150px;
				width: 143px;
				height: 234px;
				background: url("../img/deco/deco_circle_r.svg") no-repeat;
			}
		}
	}

	&__work-list {
		@include bp994-block() {
			position: relative;

			&::before {
				position: absolute;
				content: "";
				left: 0;
				top: 300px;
				width: 180px;
				height: 180px;
				background: url("../img/deco/deco_circle_l.svg") no-repeat;
			}
			&::after {
				position: absolute;
				content: "";
				right: 0;
				top: 20px;
				width: 143px;
				height: 234px;
				background: url("../img/deco/deco_circle_r.svg") no-repeat;
			}
		}
	}

	&__reviews {
		@include bp994-block() {
			position: relative;

			&::before {
				position: absolute;
				content: "";
				left: 0;
				top: 300px;
				width: 180px;
				height: 180px;
				background: url("../img/deco/deco_circle_l.svg") no-repeat;
			}
			&::after {
				position: absolute;
				content: "";
				right: 0;
				top: 20px;
				width: 143px;
				height: 234px;
				background: url("../img/deco/deco_circle_r.svg") no-repeat;
			}
		}
	}

	&__program {
		@include bp994-block() {
			position: relative;

			&::before {
				position: absolute;
				content: "";
				left: 0;
				top: 50%;
				width: 180px;
				height: 180px;
				background: url("../img/deco/deco_circle_l.svg") no-repeat;
			}
			&::after {
				position: absolute;
				content: "";
				right: 0;
				top: 220px;
				width: 143px;
				height: 234px;
				background: url("../img/deco/deco_circle_r.svg") no-repeat;
			}
		}
	}

	&__contact {
		@include bp994-block() {
			position: relative;

			&::after {
				position: absolute;
				content: "";
				right: 0;
				top: -120px;
				width: 143px;
				height: 234px;
				background: url("../img/deco/deco_circle_r.svg") no-repeat;
			}
		}
	}
	&__contact-page {
		@include bp994-block() {
			position: relative;

			&::before {
				position: absolute;
				content: "";
				left: 0;
				top: 300px;
				width: 180px;
				height: 180px;
				background: url("../img/deco/deco_circle_l.svg") no-repeat;
			}
			&::after {
				position: absolute;
				content: "";
				right: 0;
				top: 50px;
				width: 143px;
				height: 234px;
				background: url("../img/deco/deco_circle_r.svg") no-repeat;
			}
		}
	}

	&__service {
		@include bp994-block() {
			position: relative;

			&::after {
				position: absolute;
				content: "";
				right: 0;
				top: 50px;
				width: 143px;
				height: 234px;
				background: url("../img/deco/deco_circle_r.svg") no-repeat;
			}
		}
	}
	&__footer {
		margin-top: auto;
		margin-bottom: 0;
		//background-color: $color_pale;
	}
}
