<div class="logo {{inject.parentClass}}">
	<div class="logo__inner {{inject.innerClass}}">
		<a href="/" class="logo__link link">
			<img class="logo__img img {{inject.logoClass}}" src="./img/logo.svg" alt="logo"/></a>
	</div>
</div>