<div class="thanks">
	<div class="thanks__inner">
		<div class="thanks__box">
			<div class="thanks__title">Мы получили Вашу заявку и вскоре перезвоним Вам</div>
			<div class="thanks__text">Так же рекомендуем Вам ознакомиться с перечнем <a href="/service.html" class="link link_active">наших услуг</a> и <a href="/program.html" class="link link_active">программ</a>
			</div>
		</div>
	</div>
</div>