<div class="service__sub-item service-sub-item">
	<div class="service__inner">
		<div class="service-sub-item__name">{{service.name}}</div>
		<div class="service-sub-item__info">
			<div class="service-sub-item__cost">{{service.cost}}</div>
			<div class="service-sub-item__time">{{service.time}}</div>
		</div>
	</div>
</div>