<div class="services">
	<div class="services__inner">
		{% set inject = {
			parentClass: "services__item"
		} %}
		{% for item in services.services_list %}

			{% include "blocks/services/service-item.njk" %}

		{% endfor %}
	</div>
</div>