<div class="service-item {{inject.parentClass}}">
	<a href="" class="service-item__inner">
		<div class="service-item__imgbox">
			<img
			src="./img/content/{{item.img}}.jpg"
			alt="{{item.name}}"
			class="service-item__img img"
		>
		</div>

		<div class="service-item__title">{{item.title}}</div>
	</a>
</div>