<div class="service__item service-item">
	<div class="service__inner">
		<div class="service-item__name">{{service.name}}</div>
		<div class="service-item__info">
			<div class="service-item__cost">{{service.cost}}</div>
			<div class="service-item__time">{{service.time}}</div>
		</div>
	</div>
</div>