<section class="banner">
	<div class="banner__inner">
		<div class="banner__slider slider-main"></div>
		<div class="banner__about">
			<div class="banner__title">Кто мы?</div>
			<div class="banner__text">Клиника эстетики лица и тела. Делаем массажи, спа-процедуры и всё что касается косметологического ухода. Работаем с косметикой наивысшего качества.</div>
			<div class="banner__button">
				<button class="button button_size_s">
					<div class="button__text">УЗНАТЬ БОЛЬШЕ</div>
				</button>
			</div>
		</div>
	</div>
</section>