<div class="benefits__item benefit-item">
	<div class="benefit-item__inner">
		<div class="benefit-item__imgbox">
			<img src="./img/content/{{item.img}}.svg" alt="" class="benefit-item__img img">
		</div>
		<div class="benefit-item__about">
			<div class="benefit-item__title">{{item.title}}</div>
			<div class="benefit-item__text">{{item.text}}</div>
		</div>
	</div>
</div>